# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
env/
venv/

# Django
db.sqlite3
media/
staticfiles/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Misc
.dist/
cookies
cookies2
data
demo_data
